* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 14px;
}

div {
  width: 80%;
  margin: 20px;
}

div li {
  display: flex;
  align-items: center;
}

div li + li {
  margin-top: 15px;
}

button {
  background: #7159c1;
  color: #fff;
  border: 0;
  padding: 10px 15px;
  cursor: pointer;
  margin-top: 15px;
  font-weight: bold;
  font-size: 14px;
  margin-left: 270px;
}

div li button {
  margin: 0 0px;
  margin-top: 15px;
  background: #ca4949;
  border-radius: 5px;
}

/**/

.infoList {
  display: flex;
  flex-direction: column;
  max-width: 350px;
  background: #8217CC;
  border-radius: 5px;
}

.infoList span {
  font-weight: bold;
  font-size: 15px;
  color: #fff;
  margin-left: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.infoList .titleDetails {
  font-size: 20px;
}

.infoList .infoDetails {
  padding-left: 10px;
}

.infoTechs {
  font-weight: normal !important;
  background: #C169FF;
  border-radius: 3px;
  padding: 3px 5px;
}
